* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-image: url('img/lone-tree.jpg');
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 300px;
    width: 100%;
    height: 500px;
    display: flex;
    border-radius: 10px;
    margin: 14px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.401);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid #ffffff44;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

button {
    display: block;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #ffffff44;
    cursor: pointer;
    margin: 10px auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.232);
}

button:hover {
    background-color: #91919173;
}

.secao {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.secao.ativa {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.774);
}

strong {
    color: #ffffffcc;
}

p {
    color: #000000c7;
    margin: 10px;
    line-height: 1.4;
    text-align: center;
}

a {
    color: #ffffffcc;
    text-decoration: none;
    font-weight: bold;
}

