* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-image: url('img/lone-tree.jpg');
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    margin: 14px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid rgb(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

button {
    display: block;
    width: 40%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #2834DE;
    color: #fff;
    cursor: pointer;
    margin: 10px auto;
}

